*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

.home-img {
    height: 640px;
    width: 100%;   
    object-fit: cover;
}

.hover {
    cursor: pointer;
}

.padding-left {
    padding-left: 12px;
}

.text-justify {
    text-align: justify;
}

.pixel-img {
    height: 96px;
    width: 84px;
}

.crown-img{
    height: 96px;
    width: 122px;
}

.press-start {
    font-family: 'Press Start 2P', cursive;
}

.start-btn:hover {
    background-color: green;
    transition: 0.5s;;
}